<section id="proyectos">
<div class="row">
  <h1 class="proyectos">Proyectos</h1>
  <div class="card">
    <img class="card-img" src="https://images.unsplash.com/photo-1477862096227-3a1bb3b08330?ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=60">
    <div class="card-body">
      <h2 class="title-card">Título proyecto</h2>
      <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut eum similique repellat a laborum, rerum voluptates ipsam eos quo tempore iusto dolore modi dolorum in pariatur. Incidunt repellendus praesentium quae!</p>
     <a id="btn-card" href="" class="btn btn-outline-success btn-lg">Read More</a>
    </div>
  </div>
</div>
</section>
