<section id="acercade">
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h1 class="acercade">Acerca de</h1>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
        <img class="img-fluid" src="assets/fotodeperfil.jpg">
    </div>
    <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
        <p class="nombre">Ana</p>
        <p class="titulo">Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
        <p class="info">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugiat aliquam eum magnam non inventore repudiandae eius nostrum facere veniam officia illo commodi, mollitia numquam? At, fugit. Adipisci velit suscipit itaque?</p>
    </div>
</div>
</section>