<section id="skills"> 
    <div class="row">
        <h1 class="skills">Skills</h1>
        <h2 class="hardandsoft">Hard Skills</h2>
        <div class="circulos">
            <h3 class="lenguajes">Lenguajes</h3>
            <circle-progress
            [percent]="10"
            [radius]="120"
            [title]="'HTML'"
            [showTitle]="true"
            [imageHeight]="50"
            [showSubtitle]="false"
            [showUnits]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="300"
        ></circle-progress>
            <circle-progress
            [percent]="10"
            [radius]="120"
            [title]="'CSS'"
            [showTitle]="true"
            [imageHeight]="50"
            [showSubtitle]="false"
            [showUnits]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="300"
        ></circle-progress>
            <circle-progress
            [percent]="10"
            [radius]="120"
            [title]="'JavaScript'"
            [showTitle]="true"
            [imageHeight]="50"
            [showSubtitle]="false"
            [showUnits]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="300"
        ></circle-progress>
            <circle-progress
            [percent]="10"
            [radius]="120"
            [title]="'C'"
            [showTitle]="true"
            [imageHeight]="50"
            [showSubtitle]="false"
            [showUnits]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="300"
        ></circle-progress>
            <circle-progress
            [percent]="10"
            [radius]="120"
            [title]="'Java'"
            [showTitle]="true"
            [imageHeight]="50"
            [showSubtitle]="false"
            [showUnits]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="300"
        ></circle-progress>
            <circle-progress
            [percent]="10"
            [radius]="120"
            [title]="'TypeScript'"
            [showTitle]="true"
            [imageHeight]="50"
            [showSubtitle]="false"
            [showUnits]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="300"
        ></circle-progress>
            <circle-progress
            [percent]="10"
            [radius]="120"
            [title]="'SQL'"
            [showTitle]="true"
            [imageHeight]="50"
            [showSubtitle]="false"
            [showUnits]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="300"
        ></circle-progress>
            <circle-progress
            [percent]="10"
            [radius]="120"
            [title]="'Python'"
            [showTitle]="true"
            [imageHeight]="50"
            [showSubtitle]="false"
            [showUnits]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="300"
        ></circle-progress>
        <h3 class="lenguajes">Frameworks</h3>
            <circle-progress
            [percent]="10"
            [radius]="120"
            [title]="'Angular'"
            [showTitle]="true"
            [imageHeight]="50"
            [showSubtitle]="false"
            [showUnits]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="300"
        ></circle-progress>
            <circle-progress
            [percent]="10"
            [radius]="120"
            [title]="'Spring Boot'"
            [showTitle]="true"
            [imageHeight]="50"
            [showSubtitle]="false"
            [showUnits]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="300"
        ></circle-progress>
            <circle-progress
            [percent]="10"
            [radius]="120"
            [title]="'Flask'"
            [showTitle]="true"
            [imageHeight]="50"
            [showSubtitle]="false"
            [showUnits]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="300"
        ></circle-progress>
            <circle-progress
            [percent]="10"
            [radius]="120"
            [title]="'Django'"
            [showTitle]="true"
            [imageHeight]="50"
            [showSubtitle]="false"
            [showUnits]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="300"
        ></circle-progress>
        </div>
        <h2 class="hardandsoft">Soft Skills</h2>
        <div class="circulos">
            <circle-progress
            [percent]="10"
            [radius]="120"
            [title]="'Resolución de problemas'"
            [showTitle]="true"
            [imageHeight]="50"
            [showSubtitle]="false"
            [showUnits]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="300"
        ></circle-progress>
            <circle-progress
            [percent]="10"
            [radius]="120"
            [title]="'Comunicación'"
            [showTitle]="true"
            [imageHeight]="50"
            [showSubtitle]="false"
            [showUnits]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="300"
        ></circle-progress>
            <circle-progress
            [percent]="10"
            [radius]="120"
            [title]="'Construcción colectiva'"
            [showTitle]="true"
            [imageHeight]="50"
            [showSubtitle]="false"
            [showUnits]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="300"
        ></circle-progress>
                    <circle-progress
            [percent]="10"
            [radius]="120"
            [title]="'Liderazgo'"
            [showTitle]="true"
            [imageHeight]="50"
            [showSubtitle]="false"
            [showUnits]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="300"
        ></circle-progress>
        </div>
    </div>
</section>