
div{
    background-color: rgb(255, 208, 241);
}

p{
    line-height: 1.2;
}

/*Header*/
/*Navbar*/

body{
    margin:0px;
    margin-top:60px;
    padding: 0px;
 }

 .nav-list{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
    padding: 0.1rem 0;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgb(255, 0, 255);
    overflow: auto;
    height: auto;
    min-width: 600px;
    z-index: 100;
 }
 
 .nav-item {
    list-style: none;
    margin-right: 1.2em;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    font-weight: bolder;
 }

 .nav-item a{
    color: rgb(255, 255, 255);
    text-decoration: none;
 }

 .nav-item:nth-child(){
    margin-right: auto;
}

.nav-item:nth-child(2){
    margin-right: auto;
}

.nav-item:nth-child(3){
    margin-right: auto;
}
.nav-item:nth-child(4){
    margin-right: auto;
}
.nav-item:nth-child(5){
    margin-right: auto;
}
.nav-item:nth-child(6){
    margin-right: auto;
}
.nav-item:nth-child(7){
    margin-right: auto;
}

.login{
    margin-right: 1.2em;
    margin-left: 1.2em;
    text-align: center;
    font-size: 17px;
    font-weight: bolder;
    outline: none;
    border: none;
    border-radius: 0.8em;
    padding: 0.3em;
    padding-right: 1.3em;
    padding-left: 1.3em;
    transition-duration: 0.4s;
}

.login:hover{
    background-color: #3bd5ff;
    color: white;
}

#menuresponsive{
    display:flex;
    justify-content: flex-end;
    margin-right: auto;
    size: 100;
    padding: 2.3em;
    display:none;
    fill: white;
}

@media (max-width: 1200px){
    .nav-item{
        display:none;
    }

    #menuresponsive{
        display:flex;
    }
}
    

 /*Banner*/

 .banner {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
    object-position: bottom;
 }

 /*Acerca De */

 .row {
    padding: 40px;
    padding-left: 15%;
    padding-right: 15%;
    font-size: 30px;
 }

 .acercade {
    text-align: center;
    padding: 35px;
    padding-top:150px;
 }

 .nombre {
    font-weight: bold;
 }


 @media (max-width: 1200px){
    .nombre{
        padding-top: .75em;
        font-size: 28px;
        font-weight: bold;
        text-align: center;
    }
    .titulo{
        text-align: center;
        font-size: 22px;
    }
 }

 @media (min-width: 767px){
    .img-fluid{
        border-radius: 100%;
    }
 }

  /*Experiencia y Educación*/

  .experiencia {
    text-align: center;
    padding: 35px;
    padding-top:150px;
 }

 .educacion {
    text-align: center;
    padding: 35px;
    padding-top:150px;
 }

 .timeline {
    padding-left: 15%;
    padding-right: 15%;

  }
  
  .outer {
    border-left: 6px solid #960182;
  }
  
  .card {
    position: relative;
    
}
  
  .info {
    display: flex;
    flex-direction: column;
    padding: 1em;
    font-size: 30px;
  }
  
  .title {
    color: #960182;
    position: relative;
    font-size: 30px;
  }

    /*Hard y Soft skills*/

    .skills {
        text-align: center;
        padding: 35px;
        padding-top:150px;
     }

     .hardandsoft {
        text-align: center;
        padding: 25px;
        padding-top:100px;
        padding-bottom:60px;
     }

     .circulos {
        text-align: center;
     }

    /*Proyectos*/

    .proyectos {
        text-align: center;
        padding: 35px;
        padding-top:150px;
     }

     
     .card {
        display: flex;
     }

     .title-card {
        text-align: center;
        font-size: 40px;
     }

     .text-card {
        text-align: justify;
        font-size: 20px;
     }

     #btn-card {
        display:flex;
        justify-content: center;
        align-items: center;
        margin-left: 30%;
        margin-right: 30%;
     }

     .card-image {
        border-radius: 12%;
        max-height: 300px;
     }


    /*Footer*/

    .footer-basic {
        padding:40px 0;
        background-color:#ffffff;
        color:#4b4c4d;
      }
      
      .footer-basic ul {
        padding:0;
        list-style:none;
        text-align:center;
        font-size:18px;
        line-height:1.6;
        margin-bottom:0;
      }
      
      .footer-basic li {
        padding:0 10px;
      }
      
      .footer-basic ul a {
        color:inherit;
        text-decoration:none;
        opacity:0.8;
      }
      
      .footer-basic ul a:hover {
        opacity:1;
      }
      
      .footer-basic .social {
        text-align:center;
        padding-bottom:25px;
      }
      
      .footer-basic .social > a {
        font-size:24px;
        width:40px;
        height:40px;
        line-height:40px;
        display:inline-block;
        text-align:center;
        border-radius:50%;
        border:1px solid #ccc;
        margin:0 8px;
        color:inherit;
        opacity:0.75;
      }
      
      .footer-basic .social > a:hover {
        opacity:0.9;
      }
      
      .footer-basic .copyright {
        margin-top:15px;
        text-align:center;
        font-size:13px;
        color:#aaa;
        margin-bottom:0;
      }
      
